Options -Indexes

DirectorySlash Off
RewriteEngine On

# À modifier lors de la mise en production
RewriteCond %{HTTP_HOST} !^bettersched\.herokuapp\.com$
RewriteRule ^(.*) http://beta.bettersched.fr/$1  [QSA,L,R=301]

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteCond %{REQUEST_URI} !^/assets/ [or]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/css/ [or]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/js/ [or]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*?)(\?.+|)$ /$2 [NC,L,QSA]
